@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

/* herer is shared styles */
.text-primary{
    color:#FD6E0A ;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color:#FD6E0A ;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* here is header */

.hero{
   background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right; 
    
    
}

.header{ 
    background: #FFF8F3; 
    padding: 50px 0 0  20px;
      
}


/* here is nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-size: 60px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
   
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* here is banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 35px 0 200px ;
    
}

.banner-content{
    max-width: 580px; 
    align-items: center;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-discription{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-profile-pic{
    width: 620px;
    margin-top: 30px;
}